.checkbox-label {
    position: relative;
}

.checkbox-label__checkbox {
    position: absolute;
    display: inline-block;
    border: 2px black solid;
    width: 15px;
    height: 15px;
    text-align: center;
}

.checkbox-label__label {
    margin-left: 20px;
    padding-left: 3px;
}
